*.py[co]

# Unit test / coverage reports
.coverage

# Local deployment
web/static
bower_components

# Sublime metafiles
.sublime*

# pycharm
.idea

# pycache
__pycache__

# Configuration
config.yml
.env

# Log file
web/sharemusic.log
web/sharemusic.error.log