
<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>About ShareMusic</h3>
</div>
<div class="modal-body">
    <div class="content">
        <img src="/static/client/img/sharemusic_logo_big.png" style="float: right;" height="120" width="120"/>
        <p>ShareMusic is a rewrite of <a href="http://www.fomori.org/cherrymusic">CherryMusic</a> based on Django and AngularJS. It's written by <a href="http://github.com/devsnd">Alexander Gil</a>.</p>
        Check the source code in <a href="http://www.github.com/pando85/sharemusic"> Github</a>.</p>

        ShareMusic © 2015&ndash;2016
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="close()" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
